.padding {
    padding: 0px 10px 0px 0px;
}

.paddingButton {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0px 30px 15px 0px;
}

.title {
    padding: 15px 15px 0px 15px;
}

.titlePanel {
    padding: 15px;
}

.panel {
    background-color: rgb(228, 235, 248);
    border: 1px solid #3490dc;
    border-radius: 15px;
    margin-bottom: 15px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -41px;
    font-size: 15px;
    margin-right: 10px;
}

a.clickable {
    color: inherit;
}

a.clickable:hover {
    text-decoration: none;
}


/* scroll mouse */

.conquestScroll {
    width: 100%;
    height: 420px;
    overflow-y: scroll;
    background: #F5F5F5;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(136, 136, 136, 0.3);
    border-radius: 15px;
    background-color: rgb(228, 235, 248);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.style-1::-webkit-scrollbar {
    width: 11px;
    background-color: rgb(255, 255, 255);
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(136, 136, 136, 0.3);
    background-color: #3490dc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}