.padding {
    padding: 0px 10px 0px 0px;
}

.paddingButton {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0px 30px 15px 0px;
}

.conquestScroll {
    width: 100%;
    height: 370px;
    overflow-y: scroll;
}

.title {
    padding: 15px;
}

.panel {
    background-color: rgb(228, 235, 248);
    border: 1px solid #3490dc;
    border-radius: 15px;
    margin-bottom: 15px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -41px;
    font-size: 15px;
    margin-right: 10px;
}

a.clickable {
    color: inherit;
}

a.clickable:hover {
    text-decoration: none;
}