.padding {
    padding: 0px 10px 0px 0px;
}

.paddingButton {
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

.title {
    padding: 10px 0px 0px 10px;
}


/* scroll missing */

.conquestScroll {
    width: 100%;
    height: 430px;
    overflow-y: scroll;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(136, 136, 136, 0.3);
    border-radius: 15px;
    background-color: rgb(228, 235, 248);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.style-1::-webkit-scrollbar {
    width: 11px;
    background-color: rgb(255, 255, 255);
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(136, 136, 136, 0.3);
    background-color: #3490dc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}