.padding {
    padding: 0px 10px 0px 0px;
}

.paddingButton {
    padding: 4px 4px 4px 4px;
}

.conquestScroll {
    width: 100%;
    height: 430px;
    overflow-y: scroll;
}

.title {
    padding: 10px 0px 0px 10px;
}