.btn-grey {
    background-color: #D8D8D8;
    color: #FFF;
}

.rating-block {
    background-color: rgba(250, 250, 250, 0.397);
    border: 3px solid #EFEFEF;
    padding: 10px 15px 20px 15px;
    border-radius: 10px;
    min-height: 100%;
}

.rating {
    padding: 5px 0px 0px 0px;
}

.bold {
    font-weight: 700;
}

.padding-bottom-6 {
    padding-bottom: 6px;
}

.review-block {
    background-color: rgb(213, 247, 252);
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.review-block-name {
    font-size: 12px;
    margin: 10px 0;
}

.review-block-date {
    font-size: 12px;
}

.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}

.review-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-block-description {
    font-size: 13px;
}

.msg {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.rank {
    text-align: center;
}

.space {
    width: 35px;
    line-height: 1;
}

.ratingStar {
    height: 7px;
    margin: 5px 0;
}

.progressBar {
    width: 160px;
}

.progressBarHeight {
    height: 10px;
    margin: 6px 0;
}

.pull-right {
    margin-left: 7px;
    padding-top: 2px;
}